:root {
  --black: #1a1a1a;
}

body {
  background: #f8f8f8;
  color: var(--black);
}

.flex {
  display: flex;
}

.no-wrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

button {
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}
button[disabled] {
  color: rgba(0, 0, 0, 0.3);
  cursor: initial;
}

a {
  color: #3f51b5;
}
a:hover,
a:focus {
  color: rgb(44, 56, 126);
  text-decoration: underline;
}

a.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: #3f51b5;
  color: #fff;
  text-decoration: none;
}
a.btn:hover,
a.btn:focus {
  background-color: rgb(44, 56, 126);
}
