.wrapper {
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.title {
  font-size: 2.125rem;
}

.btn {
  font-weight: 700;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 6px;
  text-transform: uppercase;
}
